<launch>

  <arg name="debug" default="false" />
  <arg name="debug_prefix" value="gdb --args" if="$(arg debug)"/>
  <arg name="debug_prefix" value="" unless="$(arg debug)"/>

  <node name="toposlam_track" pkg="toposlam" type="toposlam_track" output="screen" launch-prefix="$(arg debug_prefix)" >
  	<param name="image_transport" type="string" value="compressed"/>
  </node>
</launch>
